<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="veiwport" content="width=device-width, initial-scale=1.0">
        <title>Google +</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/jquery.googleslides.css">
        <style type="text/css">
            
            
            
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1>My Google + album</h1>
        </div>
        <div class="row">
            <div id="slides" style="width:600px;height:600px;">
                
            </div>
            
        </div>
        
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.velocity.min.js"></script>
		<script type="text/javascript" src="js/velocity.ui.js"></script>
        <script type="text/javascript" src="js/jquery.googleslides.js"></script>
        <script type="text/javascript">
            
            $('#slides').googleslides({userid:'115290294088139591406', albumid:'5752808427721445122'});
            
            
        </script>
    </body>
</html>