@import 'bourbon/bourbon';
    
     @font-face {
                font-family:myFont;
                src:url('fonts/Sansation_Light.ttf');
                font-weight:100;
            }
            
            h1 {
                font-family: myFont;
            }
            
            .commentBox {
                height: 400px;
                overflow: 'y';
            }